	
		<!-- <div class="dropdown-menu bg-light">
    <% if logged_in? %>
       
         <li class="nav-item">
           <%= link_to "#{current_user.first_name}", user_path(current_user.id), class:"nav-link text-primary text-uppercase"%>
         </li>
         <li class="nav-item">
           <%= link_to "Se déconnecter", session_path(session.id), class:"nav-link text-danger", method: :delete %>
         </li>
       
         <% else %>
       
         <li class="nav-item">
           <%= link_to "Se connecter", new_session_path, class: "nav-link text-primary"%>
         </li>
         <li class="nav-item">
           <%= link_to "S'inscrire", new_user_path, class: "nav-link text-success"%>
         </li>
       
         <% end %> 
 </div> --> 

 