<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> ! Tu participes à un événement </h1>
    <p>
      Un événement a été créée pour ton email <%= @attendance.event.user.email%>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur eventbite-tls.fr !
  </body>
</html>