/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
 body {
  overflow-x: hidden;
}

.jumbotron {
  border-radius: 0 !important;
  border-bottom: 1px solid #cccc;
}
.text-jumbo {
  text-shadow: 0 0 2px #333333;
}
.fieldset {
  border:2px solid #cccc;
  border-radius: 6px;
}
.card-event {
  border-radius: 10px;
  border: rgb(56, 110, 92) solid 2px;
  background-color: rgb(189, 235, 245);
  margin: 30px;
}
